---
import MainLayout from "@layouts/MainLayout.astro";
import Title from "@components/shered/Title.astro";
import { Counter } from "@components/counter";

const counterValue = 20;

---

<MainLayout title="Favoritos">
    <Title>Islas</Title>

    <div
        style={{
            height: '2000px',
            background: 'red',
            opacity: 0.4,
        }}>

    </div>

    <!-- <Counter client:only="solid-js"></Counter> -->

    <Counter transition:persist="counter" transition:persist-props client:visible initValue={ counterValue }>
        <Title>Counter Island!!!</Title>
    </Counter>


</MainLayout>